.program{
    margin-top: 1rem;
    margin-left: 7rem;
    
    font-family: 'Montserrat';
    font-style: normal;
     font-weight: 600; 
    font-size: 32px;
    line-height: 39px;
    color: black;
    }
    
    .borderrr1{
      width: 215px;
      height: 3px;
      left: 162px;
      top: 394px; 
      background-color: #457B9D ;
      border: 1.60618px solid #457B9D;
      margin-left: 7rem;
    }
    
    .text1{
      margin-left: 5em;
      padding-top: 1.5rem;
      margin-right: 5em;
      
      font-family: 'Montserrat';
      font-style: normal;
      /* font-weight: 600; */
      font-size: 24px;
      line-height: 29px;
      text-align: justify;
      
      color: #212121;
    }
    .ug{
      margin-top: 1rem;
      margin-left: 7rem;
      
      font-family: 'Montserrat';
      font-style: normal;
       font-weight: 600; 
      font-size: 32px;
      line-height: 39px;
      color: black;
    }
    
    .borderrr2{
      width: 480px;
        height: 3px;
        left: 162px;
        top: 394px; 
        background-color: #457B9D ;
        border: 1.60618px solid #457B9D;
        margin-left: 7rem; 
    }
    
    .text2{
      margin-left: 7rem;
      margin-right: 7rem;
      padding-top: 1.5rem;
      top: 414px;
      
      font-family: 'Montserrat';
      font-style: normal;
      /* font-weight: 600; */
      font-size: 24px;
      line-height: 29px;
      text-align: justify;
      
      color: #212121;
    }

    ul{
        margin-left: 7rem;
        margin-right: 7rem;
        padding-top: 1.5rem;
        top: 414px;
        
        font-family: 'Montserrat';
        font-style: normal;
        /* font-weight: 600; */
        font-size: 24px;
        line-height: 29px;
        text-align: justify;
        
        color: #212121;
      }
    
    .pg{
      margin-top: 1rem;
      margin-left: 7rem;
      
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      color: black;
    }
    
      .borderrr3{
        width: 450px;
        height: 3px;
        left: 162px;
        top: 394px; 
        background-color: #457B9D ;
        border: 1.60618px solid #457B9D;
        margin-left: 7rem;
      }
    
      .dp{
        margin-top: 1rem;
        margin-left: 7rem;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        color: black;
      }
      
        .borderrr4{
          width: 370px;
          height: 3px;
          left: 162px;
          top: 394px; 
          background-color: #457B9D ;
          border: 1.60618px solid #457B9D;
          margin-left: 7rem;
        }
      