body {
    font-family: 'Montserrat';
}

.heading {
    position: absolute;
    width: 87px;
    height: 39px;
    left: 240px;
    top: 344px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    
    color: #000000;
}
.accordion {
    padding: 70px 15px;

}
.accordion-item {
    box-sizing: border-box;
    background: #F5F9FF;
    /* height: 100px; */
/* Primary Color */

/* border: 2.29565px solid #457B9D; */
box-shadow: 0px 6.88695px 8.3652px rgba(74, 58, 255, 0.19);
border-radius: 16.0695px;
width: 100% !important;                                      
}
.collapsed {
    background: #F5F9FF;
    padding: 32px 12px;
}

.accordion-body {
    padding: 40px;
}
.accordion-item {
    padding: 12px;
    margin: 20px 1px;
}


.accordion::before {
    content: "";
    display: block;
    width: 112px;
/* height: 0px; */
    height: 3px;
    background: #457B9D;
    left: 16%;
    top: 54%;
    position: absolute;
    
}

