* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.about_us span {
  font-weight: 800;
}

.about_us_line::before {
  content: "";
  display: block;
  width: 175px;
  height: 3.5px;
  background: #457b9d;
  left: 0;
  top: 27%;
  position: absolute;
}

.announcements h2::before {
  content: "";
  display: block;
  width: 313px;
  height: 3.5px;
  background: #457b9d;
  left: 0;
  top: 52%;
  position: absolute;
}

/* //////////////////////////////////////////////////////////////////////////  */

.quicklinks {
}

.first_two {
  display: flex;
  justify-content: space-evenly;
  margin-top: 34px;
}

.last_two {
  display: flex;
  justify-content: space-evenly;
  /* justify-content: space-around; */
  margin-top: 34px;
}
.about_us {
  width: 67%;
  margin: auto;
  margin-top: 34px;
  position: relative;
  text-align: justify;
}

.Downloads h2 {
  padding-top: 10px;
}

.first_two {
  position: relative;
  top: 12px;
  left: -35px;
}

.first_two_01 {
  display: flex;
  justify-content: space-around;
  margin-top: 34px;
  /* position: relative;
        top: 12px;
        left: -55px; */
}
.last_two_01 {
  display: flex;
  justify-content: space-around;
  margin-top: 34px;
  /* position: relative;
        top: 12px;
        left: -55px; */
}

.announcements {
  width: 67%;
  margin: auto;
  position: relative;
  margin-top: 34px;
}

.quicklinks {
  /* position: absolute; */
  /* width: 60%;
  height: auto; */
  width: 746px;
  height: 244px;
  margin: 1.2rem auto;
  
  /* left: 310px;
top: 1070px; */

  background: #f5f9ff;
  border: 1px solid #212121;
  border-radius: 15px;
}
.quicklinks h2 {
  text-align: center;
  /* padding-top: 13px; */
}

.Downloads {
  /* position: absolute; */
  /* width: 60%;
  height: 244px; */
  width: 746px;
height: 244px;
  /* left: 310px;
    top: 1400px; */
  margin: 4.875rem auto;
  background: #f5f9ff;
  border: 1px solid #212121;
  border-radius: 15px;
}

.Downloads h2 {
  text-align: center;
}

.vice_desk {
  display: flex;
  width: 100%;
  margin: 10px 12%;
  /* border: 2px solid black; */
  height: 300px;
}
.vice_desk p {
  width: 60%;
  text-align: justify;
  margin: 10px;
}

.heading_vice_desk {
  width: 539px;
  height: 39px;

  margin-left: 190px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.image_vice_desk {
  display: block;

  margin-top: 24px;
  margin-left: -350px;
  width: 205px;
  height: 205px;
  background: url("https://res.cloudinary.com/dd6idpm2e/image/upload/v1655486033/cell_website/VC_Sir_nztioa.jpg");
  background-size: cover;
  background-position: 50%;
  border: 2px solid #457b9d;
  border-radius: 16.712px 0px;
}

.image_tpo_desk {
  display: block;

  margin-top: 24px;
  margin-left: -350px;
  width: 205px;
  height: 205px;
  background: url("https://res.cloudinary.com/dd6idpm2e/image/upload/v1655486032/cell_website/VK_Dwivedi_Sir_pishon.jpg");
  background-size: cover;
  background-position: 50%;
  border: 2px solid #457b9d;
  border-radius: 16.712px 0px;
}

#vice_desk_01 {
  margin-top: 14px;
  margin-left: 250px;
}
#heading_vice_desk_01 {
  margin-top: 74px;
  margin-left: 250px;
}

.footer_images img {
  width: 21.5px;
  height: 21.5px;
}

.quicklinks h2 {
    margin-top: 8px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 79px;
}

.quicklinks .img1 {
  position: absolute;

  right: 134px;
  top: -43px;
  left: 243px;
}
.quicklinks .img3 {
  position: relative;
  top: -1px;
  left: 87px;
}

.quicklinks h5 {
  text-align: left;
}

.quicklinks .img1 {
  /* margin-top: -9.4%; */
  margin-left: 36%;
}

#heading_tpo_desk_01 {
  text-align: center;
  margin: 39px 31px;
  position: relative;
  top: 24px;
  right: 344px;
}

.image_tpo_text {
  /* margin-right: 23%; */
  position: relative;
  top: 13px;
  right: 340px;
}

.image_vice_desk_text {
  position: relative;
  top: 24px;
  right: 344px;
}

.image_vice_desk_text h6 {
  text-align: center;
}

.quicklinks .img2 {
  position: relative;
  top: 4px;
  left: -9px;
}
.quicklinks .img3 {
  position: relative;
  top: 5px;
  left: -1px;
}


.quicklinks .img4 {
  position: relative;
  top: 3px;
  left: -3px;

  margin-bottom: 13px;
}

.footer_images img {
  margin: 3px;
}

.dropdown {
    display: none;
}
#invitation {
    margin: 0px 78px ;
}



/* Responsive Part Starts from here  */

