/*------------Home page first 100vh-----------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

.homediv {
  background-image: linear-gradient(rgb(69,123,157,0.4),rgb(69,123,157,0.4)), url("../src/images/home.jpg");
  position: relative;
  height: 100vh;
  width: 100% !important;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100vh;
  background-size: 100%;
  /* background-image */
  margin: auto;
  background-position: 51% 0%;
}

/* .layer {
  background-color: #457b9d;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-bottom: 100%;
} */

/*---------------Navbar---------------*/

.navbar .menu li {
  list-style: none;
  padding: 1.5rem;
  color: #ffffff;
  position: relative;
}

.navbar .menu {
  font-family: "Montserrat"!important;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  width: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: space-around;
  /* padding-left: 5rem; */
  padding: auto;
}

.navbar .menu .navbarlink{
  text-decoration: none;
  color: #ffffff;

}

.navbar .hamburger{
  background-color: transparent;
  border: none;
  color: #000000;
  transform: scale(2.5);
  margin: 1em auto 2rem 90%;
  display: none;
}

/*-----dropdowns-------*/

.navbar .menu :hover .dropdown_menu{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background: #f5f9ff;
  border-radius: 15px;
  
  font-family: "Montserrat"!important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: auto;
  margin: auto;
  margin-left: 32px;
}
.navbar .menu :hover .dropdown_menu ul{
  font-family: "Montserrat"!important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  margin-left: -32px;
  width: 252px;
}
.navbar .menu :hover #whyRec,#whyRec ul li{
  width: 240px;

}
.navbar .menu :hover .navwidth1{
  width: 197px; 
}

.navbar .menu :hover .dropdown_menu .navwidth{
  width: 197px;
}

.navbar .menu :hover .dropdown_menu ul li {
  color: #212121;
  height: 38.24px;
  padding: 13px 0 0 13px;
}

.navbar .menu :hover .dropdown_menu ul li:hover {
  background: #C4D9FF;
}

.navbar .menu :hover .dropdown_menu ul li:first-child{
  border-radius:15px 15px 0 0 ;
}
.navbar .menu :hover .dropdown_menu ul li:last-child{
  border-radius:0 0 15px 15px ;
}

.dropdown_menu {
  display: none;
}

.navbar .menu :hover .dropdown_menu .dropdownnavlink{
  text-decoration: none;
  color: #212121;
}



/* Error Page UI starts {color scheme to be changed} */

.errpage{
  width: 100%;
  height: 90vh;
  background: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#errpage_p,#errpage_h1{
  transform: scale(4);
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 5rem;
}

#errpage_h1{
  transform: scale(5);
  color: rgba(0, 0, 0, 0.4);
}

#errpage_btn:hover{
  background-color: royalblue;
  color: pink;
}
#errpage_btn{
  padding: 1rem;
  border-radius: 1rem;
  transform: scale(2);
  text-decoration: none;
}


/* Error Page UI ends*/

/* Navbar bg for pages except Home page*/



.pages_nav {
  background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)) , url("../src/images/cara1resize.jpg");
  object-fit: cover;
  width: 100%;
  position: relative;
  height:51vh;
  background-repeat: no-repeat;
  background-size: 100%;
  animation: caraouse 2s 1s infinite alternate step-end;
  background-position: 30% 0%!important;
}

/* About MMMUT */
.about{
margin-top: 1rem;
margin-left: 7rem;

font-family: 'Montserrat';
font-style: normal;
 font-weight: 600; 
font-size: 32px;
line-height: 39px;
color: black;
}

.border1{
  width: 260px;
  height: 3px;
  left: 162px;
  top: 394px; 
  background-color: #457B9D ;
  border: 1.60618px solid #457B9D;
  margin-left: 7rem;
}

.text1{
  margin-left: 7rem;
  margin-right: 7rem;
  padding-top: 1.5rem;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  color: #212121;
}

.vision{
  margin-top: 1rem;
  margin-left: 7rem;
  
  font-family: 'Montserrat';
  font-style: normal;
   font-weight: 600; 
  font-size: 32px;
  line-height: 39px;
  color: black;
}

.border2{
  width: 110px;
    height: 3px;
    left: 162px;
    top: 394px; 
    background-color: #457B9D ;
    border: 1.60618px solid #457B9D;
    margin-left: 7rem; 
}

.text2{
  margin-left: 7rem;
  margin-right: 7rem;
  padding-top: 1.5rem;
  top: 414px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  color: #212121;

}

.mission{
  margin-top: 1rem;
  margin-left: 7rem;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: black;
}

  .border3{
    width: 130px;
    height: 3px;
    left: 162px;
    top: 394px; 
    background-color: #457B9D ;
    border: 1.60618px solid #457B9D;
    margin-left: 7rem;
  }

  .text3{
    margin-left: 7rem;
    margin-right: 7rem;
    padding-top: 1.5rem;
    top: 414px;
    
    font-family: 'Montserrat';
    font-style: normal;
    /* font-weight: 600; */
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    
    color: #212121;
  }
  
  .loc{
    margin-top: 1.5rem;
    margin-left: 7rem;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: black;
  }
  
    .border4{
      width: 300px;
      height: 3px;
      left: 162px;
      top: 394px; 
      background-color: #457B9D ;
      border: 1.60618px solid #457B9D;
      margin-left: 7rem;
    }
  
    .text4{
      margin-left: 7rem;
      margin-right: 7rem;
      padding-top: 1.5rem;
      
      font-family: 'Montserrat';
      font-style: normal;
      font-size: 24px;
      line-height: 29px;
      text-align: justify;
      color: #212121;
    }

    .map{
      margin-top: 1.5rem;
      margin-left: 7rem;
      
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      color: black;
    }
    
      .border5{
        width: 75px;
        height: 3px;
        left: 162px;
        top: 394px; 
        background-color: #457B9D ;
        border: 1.60618px solid #457B9D;
        margin-left: 7rem;
      }
    
      .text5{
        margin-left: 7rem;
        margin-right: 7rem;
        padding-top: 1.5rem;
        top: 414px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: justify;
        
        color: #212121;
      }
    
      .campus{
        margin-top: 1.5rem;
        margin-left: 7rem;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        color: black;
      }
      
        .border6{
          width: 305px;
          height: 3px;
          left: 162px;
          top: 394px; 
          background-color: #457B9D ;
          border: 1.60618px solid #457B9D;
          margin-left: 7rem;
         margin-bottom:2rem ;
        }
      
        .text6{
        margin-left: 7rem;
        margin-right: 7rem;
        padding-top: 1.5rem;
        top: 414px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 1.5em;
        line-height: 1.5em;
        text-align: center;
        color: #457B9D;      
        }

        .video{
          Display: flex;
          Justify-content: center;
          Align-items: center;
          }

        .footer-links img{
   
            height: 1.5rem;
            width: 1.5rem;
            word-spacing: normal;
        }
        .footer-text{
          
          font-family: Montserrat;
          font-size: 1rem;
          font-weight: 400;
        }
        .footer-procedure{
          display: flex;
        }
        .footer-procedure div{
          margin: auto;
        }


@keyframes caraouse {
  0%{
    background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)) ,  url("../src/images/cara1resize.jpg");
  }
  50%{
    background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)) ,  url("../src/images/cara2resize.jpg");
  }
}


@media (max-width:1366px) {
  .pages_nav{
    background-size: cover;
    height: 20rem;
  }
  .homediv{
    background-size: cover;
    /* width:auto; */
  }
}

@media (max-width: 1024px) {
  /* Responsive view */

  .navbar .hamburger{
    display: block;
  }

  .navbar .menu{
    z-index: 100;
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: rgba(69, 123, 157,0.4);
    display: none;
  }

  .navbar .menu li{
    text-align: center;
    margin: 0;
    padding-right: calc(25%);
    width: 100%;
    cursor: pointer;
  }
  .navbar .expanded{
    display: block;
  }

  .navbar .menu :hover .dropdown_menu{
    transform:translateY(-14rem);
    left: auto;
    align-self: center;
    z-index: 100;
  }

  .navbar .menu :hover .navwidth1{
    transform:translateY(-10rem);
  }
  .navbar .menu :hover #whyRec{
    transform:translateY(-10rem);
  }

}


@media(max-width: 768px) {
/*Mobile view*/

/* Error Page UI starts {color scheme to be changed} */

  #errpage_p,#errpage_btn{
    transform: scale(2);
  }

  #errpage_btn{
    background-color: royalblue;
    color: pink;
  }

  /* Error Page UI ends*/

}

@media(min-width: 400px) and (max-width: 900px){

  .about{
    font-size: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .text1{
    font-size: 1.2rem;
    word-spacing: normal;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .border1{
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .vision{
    font-size: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .text2{
    font-size: 1.2rem;
    word-spacing: normal;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .border2{
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .mission{
    font-size: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .text3{
    font-size: 1.2rem;
    word-spacing: normal;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .border3{
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .loc{
    font-size: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .text4{
    font-size: 1.2rem;
    word-spacing: normal;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .border4{
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .map{
    font-size: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .text5{
    font-size: 1.2rem;
    word-spacing: normal;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .border5{
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .campus{
    font-size: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .text6{
    font-size: 1.2rem;
    word-spacing: normal;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .border6{
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .video{
    padding: auto;
    }

  .footer-links img{
      height: 0.8rem;
      width: 0.8rem;
  }
  .footer-text{
    font-size: 0.6rem;
  }


}
/* ---------invitation page------------- */
.head1{
  width: 100%;
  height: 20%;
  margin-top: 5%;
}
.head2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.9rem;
  text-align: center;
}
.head-text-1{
  color: #457B9D;
}

.invite-content{
width: 80%;
height: 110%;
margin: auto;
margin-top: 3%;
margin-bottom: 8%;
}

.invite-text{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1.2rem;
line-height: 1.9rem;
text-align: justify;

}
.btns-invitation{
  display: flex;
  flex-direction: row;
}
.btn-invitation{
  margin: auto;
  padding: auto;
  margin-top: 8%;
}
.downloadBrochure-button {
  width: 120%;
  height: 3rem;
  background-color: #C4D9FF ;
  border-radius: 4rem;
}
.mail-button{
  width: 120%;
  height: 3rem;
  background-color: #C4D9FF ;
  border-radius: 4rem;
}
.downloadBrochure-button span{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 1.4rem;
line-height: 1.9rem;
text-align: center;
color: #000000;
}
.downloadBrochure-button span a{
  color: #000000;
}
.downloadBrochure-button a{
  text-decoration: none;
}
.mail-button a{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.9rem;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.copyrt-invitation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px ;
}
.copyrt-invitation div{
  font-family: 'Montserrat';
  font-size: 1.2rem;
  margin: auto;
}
.copyrt-invitation div img{
  height : 25px ;
  width : 25px;
}

@media (max-width: 900px){
  .head2{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
  }
  .invite-content{
    height: 100%;
    margin-top: 6%;
    margin-bottom: 6%;
    }
    .invite-text{
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1rem;
    }
    .downloadBrochure-button {
      width: 110%;
      height: 2rem;
      border-radius: 3rem;
    }
    .mail-button{
      width: 110%;
      height: 2rem;
      border-radius: 3rem;
    }
    .downloadBrochure-button span{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    }
    .mail-button a{
      font-weight: 400;
      font-size: 1rem;
      line-height: 1rem;
    }
    .btns-invitation{
      flex-direction: column;
    }
    .copyrt-invitation div{
      font-size: 0.8rem;
    }
    .copyrt-invitation div img{
      height : 17px ;
      width : 17px;
    }
    .bld{
      font-weight: 600;
    }
}
/* ------------Placement Procedure--------------- */
.container-procedure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  margin: auto;
  margin-top: 2%;
}
.Heading-procedure{
  font-size: 1.5rem;
  font-family: Montserrat;
  font-weight: 800;
}
.Heading-procedure div{
  height: 0.2rem;
  width: 24%;
  background-color: #457b9d;
  border-radius: 0.01rem;
}
.procedures{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.procedure{
  height: 5.2rem;
  margin: 1rem 1rem 1rem 0;
  background-color: #C4D9FF;
  align-items: center;
  border-radius: 5rem;
  padding: auto;
  display: flex;
  align-content: center;
}
.procedure img{
  height: 80%;
  width: 6%;
  margin: 0 1rem 0 1rem;
}
.procedure span{
  font-family: Montserrat;
  font-size: 0.9rem;
  font-weight: 600;
}
.button-text{
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 900;
  margin: auto;
  margin-top: 3%;
}
.mail-procedure-button{
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 900;
  height: 2.5rem;
  width: 110%;
  background-color: #C4D9FF;
  border-radius: 3rem;
}
.button-procedure{
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.footer-links-procedure img{
    height: 1.5rem;
    width: 1.5rem;
}
.footer-text-procedure{
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
}
.footer-procedure{
  display: flex;
}
.footer-procedure div{
  margin: auto;
}
@media (max-width: 900px){
  .Heading-procedure{
    font-size: 1.2rem;
  }
  .Heading-procedure div{
    width: 65%;
  }
  .procedure{
    height: 4rem;
    border-radius: 2rem;
  }
  .procedure img{
    height: 63%;
    width: 8%;
  }
  .procedure span{
    font-family: Montserrat;
    font-size: 0.7rem;
    font-weight: 600;
  }
  .button-text{
    font-size: 1rem;
  }
  .mail-procedure-button{
    font-size: 0.7rem;
    height: 2rem;
    border-radius: 3rem;
  }
  .footer-links-procedure img{
    height: 0.8rem;
    width: 0.8rem;
}
.footer-text-procedure{
  font-size: 0.6rem;
}
}
