/*------------Home page first 100vh-----------*/

.homediv {
  background: url("../src/images/home.jpg");
  position: relative;
  height: 100vh;
  width: 100% !important;
  background-repeat: no-repeat;
  background-position: 51% 0%;
}

.layer {
  background-color: #457b9d;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* padding-bottom: 100%; */
}

/*---------------Navbar---------------*/

.navbar .menu li {
  list-style: none;
  padding: 28px;
  color: #ffffff;
  position: relative;
}

.navbar .menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 5rem;
}

.navbar .menu .navbarlink{
  text-decoration: none;
  color: #ffffff;

}

.navbar .hamburger{
  background-color: transparent;
  border: none;
  color: #000000;
  transform: scale(2.5);
  margin: 1em auto 2rem 90%;
  display: none;
}

/*-----dropdowns-------*/

.navbar .menu :hover .dropdown_menu{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background: #f5f9ff;
  border-radius: 15px;
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: auto;
  margin: auto;
  margin-left: 32px;
}
.navbar .menu :hover .dropdown_menu ul{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  margin-left: -32px;
  width: 252px;
}

.navbar .menu :hover .navwidth1{
  width: 197px;
}

.navbar .menu :hover .dropdown_menu .navwidth{
  width: 197px;
}

.navbar .menu :hover .dropdown_menu ul li {
  color: #212121;
  height: 38.24px;
  padding: 13px 0 0 13px;
}

.navbar .menu :hover .dropdown_menu ul li:hover {
  background: #C4D9FF;
}

.navbar .menu :hover .dropdown_menu ul li:first-child{
  border-radius:15px 15px 0 0 ;
}
.navbar .menu :hover .dropdown_menu ul li:last-child{
  border-radius:0 0 15px 15px ;
}

.dropdown_menu {
  display: none;
}

.navbar .menu :hover .dropdown_menu .dropdownnavlink{
  text-decoration: none;
  color: #212121;
}



/* Error Page UI starts {color scheme to be changed} */

.errpage{
  width: 100%;
  height: 90vh;
  background: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#errpage_p,#errpage_h1{
  transform: scale(4);
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 5rem;
}

#errpage_h1{
  transform: scale(5);
  color: rgba(0, 0, 0, 0.4);
}

#errpage_btn:hover{
  background-color: royalblue;
  color: pink;
}
#errpage_btn{
  padding: 1rem;
  border-radius: 1rem;
  transform: scale(2);
  text-decoration: none;
}


/* Error Page UI ends*/

/* Navbar bg for pages except Home page*/



.pages_nav {
  background: url("../src/images/cara1resize.jpg");
  width: 100%;
  position: relative;
  height: 320px;
  background-repeat: no-repeat;
  animation: caraouse 2s 1s infinite alternate step-end;
  background-position: 30% 0%!important;
}

@keyframes caraouse {
  0%{
    background: url("../src/images/cara1resize.jpg");
  }
  50%{
    background: url("../src/images/cara2resize.jpg");
  }
}

.layer_nav {
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media (max-width: 1024px){
  /* Responsive view */

  .navbar .hamburger{
    display: block;
  }

  .navbar .menu{
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: rgba(69, 123, 157,0.4);
    display: none;
  }

  .navbar .menu li{
    text-align: center;
    margin: 0;
    padding-right: calc(25%);
    width: 100%;
  }

  .navbar .expanded{
    display: block;
  }

  .navbar .menu :hover .dropdown_menu{
    left: calc(21%);
  }
}


@media (max-width: 768px) {
/*Mobile view*/

/* Error Page UI starts {color scheme to be changed} */

  #errpage_p,#errpage_btn{
    transform: scale(2);
  }

  #errpage_btn{
    background-color: royalblue;
    color: pink;
  }

  /* Error Page UI ends*/

}