body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  font-family: serif;
}

/*---------------Homepage CSS-----------------*/
@import url('./App.css');

/*---------------Faculty individual -------------*/

.f_image{
width: 299.42px;
height: 299.42px;
border: 2.68938px solid #457B9D;
border-radius: 19.7221px 0px;
}

.coordinators{
  width: 100%;
  display: grid;

}

.f_object{
  width:30%;

}